.App {
  
  width:100%;
  margin :auto;
  background-color: lightyellow;
  text-align: center;

  height:600px;
  border: black;


}

.H2{
  background-color: indianred;
  color:ivory;
  border: mediumpurple solid;

}
