.Head{
  
    background-color: black;
    color:burlywood;
    font-size: 30px;
    text-align: center;
    display:flex;
    padding:10px;
    width:80%;
    margin:auto
    
}




.Input{
    width:80%;
    height: 30px;
    margin:auto
}

.Task{
    margin:auto;
    width:80%;
    background-color: lightblue;
    font-size: 30px;
    padding:5px;
    margin-bottom: 2px;
    list-style-type: none;
    border: rgba(0, 0, 255, 0.281) dotted;
}
.ButtonX{
    float: right;
    background-color: red;
}

.ButtonD{
    float: left;
    background-color: whitesmoke;
}
.ButtonD::active{
    background-color:green;
}




.Button{
    color:burlywood
}
.Button:hover{
    background-color:green
}